.right-border{
    border-right:1px solid #dedede;
}

.padding40{
    padding:40px;
}

@media (max-width: 768px) {
    .right-border {
        border-bottom: 1px solid #dedede;
        border-right: none;
    }
    .padding40 {
        padding: 0px;
    }
    .btn-full-xs{
        width:100%
    }
}