*:not(.fa) {
    font-family: 'FSAlbert Regular', 'FontAwesome', sans-serif !important;
}

.rtl .oe_form input[type="text"],
.rtl .oe_form input[type="password"],
.rtl .oe_form input[type="file"],
.rtl .oe_form select,
.rtl .oe_form textarea {
    font-family: 'FSAlbert Regular', sans-serif !important;
}


/* .rtl .navbar-nav > li{
    float: none !important;
    display: inline-block;
} */


.rtl .all_product_btn_shadow {
    margin-left: 20px;
}


@media (max-width: 768px) {
    .rtl .navbar-nav>li {
        float: none !important;
    }
}

.rtl .wk_left_border {
    border-left: none;
    display: block;
    border-right: 1px solid #3a3c82;
}

.rtl .wk_display_grid:nth-child(2) .wk_js_count {
    width: 100%;
}

.rtl .wk_left_border:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-left: none;    
    border-right: 0.1rem solid #0b0c35;
}

@media ( max-width: 768px) {
    .rtl .wk_left_border {
        border-right: 0px;
    }
    .rtl .wk_left_border:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border-right: none;
        border-left: none;
    }
}

.rtl .envelope-box{
    border-right: 1px solid #b3b3b3 !important;
}

.rtl .envelope-text-box {
    border-right: 0px;
}

.rtl .o_portal_submenu{
    display: grid !important;
}

.rtl .right-border{
    border-right: none;
    border-left: 1px solid #dedede;
}

.rtl .hr_left_line_top_bottom {
    margin: 0px 20% 0px 0px;
    padding: 0px;
    box-shadow: 0 1px 2px 0px #1c5f51;
}

.rtl .hr_right_line_top_bottom {
    margin: 0px 0px 0px 20%;
    padding: 0px;
    box-shadow: 0 1px 2px 0px #1c5f51;
}

.rtl #sidebar {
    border-right: 1px solid #cccccc;
    z-index: 1000;
}

.rtl #sidebar.active {
    margin-right: 0px;
    margin-left: -300px;
}

.rtl .menu_end_line {
    margin-right: 0px;
}

.rtl .badge {
    direction: ltr;
}

.rtl .fa-thumbs-up {
    transform: scale(-1, 1)
}

.rtl .cir {
    left: 0px;
    right: 6px;
}
.rtl #sidebar li:first-child a.social-media-link {
    padding: 10px 0px 10px 10px;
}

.rtl li#cart_li>a>span {
    background-color: #40ae8e !important;
}

/* Theme tabbable panel */
.rtl .tabbable .panel-heading>ul>li>a {
    margin-right: unset;
    margin-left: 0;
}

.rtl #product_detail #website_published_button {
    padding-left: 15px;
    padding-right: 15px;
}

.rtl .rating-stars{
    direction: ltr !important;
}

.rtl .dropdown_sorty_by{
    border-radius: 0px 4px 4px 0px;
}

.rtl .horizontal_category{
    border-radius: 4px 0px 0px 4px !important;
}

.rtl .fa-flip-horizontal{
    transform: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .rtl #sidebar {
        margin-right: 0%;
        margin-left: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .rtl #sidebar.active {
        margin-right: 0%;
        margin-left: -100%;
    }
    .rtl #sidebarCollapse span {
        display: none;
    }
}

@media (min-width: 992px) {
    .rtl #products_grid{
        padding-right: 32px !important;
        padding-left: 15px !important;
    }

    .rtl #products_grid .pp_grid_item3:nth-of-type(1),
    .rtl #products_grid .pp_grid_item3:nth-of-type(3n+1),
    .rtl #products_grid .pp_grid_item4:nth-of-type(4n+1){
        padding: 0px 15px 0px 45px;
    }

    .rtl #products_grid .pp_grid_item3:nth-of-type(3n) {
        padding: 0px 45px 0px 15px;
    }

    .rtl #products_grid .pp_grid_item4:nth-of-type(4n) {
        padding: 0px 45px 0px 15px;
    }

    .rtl .tabbable ul.nav-tabs>li>a {
        border-right: 1px solid #ddd !important;
        border-left: 0 !important;
    }

    .rtl .tabbable ul.nav-tabs>li:last-child>a {
        border-left: 1px solid #ddd !important;
    }
}