#wk_ajax_loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/website_ajax_login_pharmacistplace/static/src/images/wk_ajax_loader.gif) center no-repeat rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px white;
}

#wk_ModalLabel{
    font-family: 'Opensans' Sans-serif;
     font-weight: 400;
    color: #252525;
    font-size: 29px;
  }
  #subtitle{

    font-family: 'Opensans' Sans-serif;
     font-weight: 400;
    color: #252525;
    font-size: 15px;


  }
.oe_login_form, .oe_signup_form{
    max-width: 310px;
    position: relative;
    margin: 12px auto
}

 #wk_Modal_login input ,#wk_Modal_signup input {

color:#252525;
 font-weight: 400;
 font-family: 'Opensans' Sans-serif;
 font-size: 16px;

 }
 #wk_Modal_login input::-webkit-input-placeholder ,#wk_Modal_signup input::-webkit-input-placeholder  {
    font-family: 'Opensans' Sans-serif;
     font-weight: 400;
    color: #CCCCCC;
    font-size: 16px;
}

    #footertitle{

      font-family: 'Opensans' Sans-serif;
     font-weight: 600;
    color: #777777;
    font-size: 15px;

    }
    #wk_login_button,#wk_signup_button,#wk_reset_confirm_button{
      font-family: 'Opensans' Sans-serif;
     font-weight: 600;
    color: #FFFFFF;
    font-size: 17px;
    }

    /* #linksignup,#linklogin{
      font-family: 'Opensans' Sans-serif;
     font-weight: 700;
    color: #4061a4;
    font-size: 15px;
    } */




#socialmedia >li> a{
  width: 100%;
  font-family: 'Opensans' Sans-serif;
     font-weight: 400;
    color: #FFFFFF;
    font-size: 16px;

}

/* #wk_model > .input-group-addon, .input-group-btn {
  width: 0%;
} */

#wk_model > .modal-footer{

border-top:0px;
text-align: left;
}
#wk_model > .modal-header{

border-bottom:0px;
}
#socialmedia{

top:0px;
width:265px;
padding-left:29px;
}

#socialmedia >.list-group-item{

  border: 0px;
}
.test{

  background: url("../images/icon-fb.png") no-repeat ;
  /*background: url("../images/1.png") no-repeat ;    */
  border: green 1px solid;

}
.icon-odoo{

  padding-left: 20px;
  padding-top:4px;
  background:  url("../images/icon-odoo.png") no-repeat center;

}
.icon-fb {
  padding-left: 20px;
  padding-top:3px;
    background: url("../images/icon-fb.png") no-repeat ;
}
.icon-google-plus{
padding-left: 20px;
padding-top:3px;
  background: url('../images/icon-google-plus.png') no-repeat center;
}
.icon-twitter{
  padding-left: 36px;
height: 20px;
background: url('../images/icon-twitter.png') no-repeat ;
}

.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-odoo{
   background: rgb(217, 50, 200);
    border-radius: 0;
    color: #fff

}

.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-googleplus {
    background: #e93f2e;
    border-radius: 0;
    color: #fff
}
.btn-odoo:active ,.btn-odoo:hover {
  background:rgb(164, 73, 140);
    color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #ba3225;
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}

/* .wk_close {
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
}
.wk_close:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
} */

/*.modal-wide .modal-dialog {
  width: auto !important;
}
*/

  .wk_main{
    height: auto;
    width: 100%;
}



  .wk_left {
    text-align: left;
    float: left;
    width: 60%;
    height: inherit;
  margin-right: 20px;
  margin-left:22px;
  padding: 55px;


}
.wk_left  .form-control {

height: 44px;

}
.wk_right{

    height: inherit;
    width: 35%;
    float: left;
  position: relative;

  padding: 12;
}
.wk_box{
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: white;
   z-index:12;
 left:-50px;
 top:54px;
 padding:10px;


}
.wk_footer{

    height: 40px;
   width: 100%;
   float:left;
   margin-bottom: 0px;
  margin-top:25px;
}


#wk_Modal_login   .form-control-feedback{
    top:3px  ;
}

 #wk_Modal_signup .form-control-feedback{
    top:3px ;
    }

#wk_Modal_signup  .popover {
   background: red;
    font-family: 'Opensans' Sans-serif;
     font-weight: 200;
    color: #fff;
    font-size: 20px;
    text-align: center;
}


 #wk_Modal_signup .popover.right .arrow:after {
    border-right-color: red;
}

#wk_Modal_login  .alert-danger{
background: #f2dede;
    font-family: 'Opensans' Sans-serif;
     font-weight: 200;
    color: #a94442;
    font-size: 20px;
    text-align: center;
    border-color: #ebccd1;

}
#wk_Modal_login .alert{

padding:1px !important;

}
 #wk_Modal_signup .modal-footer ,#wk_Modal_login .modal-footer {
    border-top:0px;
    }

 .top_ribbon{

#wk_model{
  border-left-color: red;
}
.modal-content{


  border-radius: 10px;
}

.modal {
  overflow-y: scroll;
}

.wk_Modal_signup::-webkit-scrollbar {
  display: none;
}

.model-open{
  overflow: hidden;
}
#wk_ajax_reset_form{
    max-width: 300px;
    position: relative;
    margin: 20px auto;
}

/* ---------------------------- */
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 14px 12px;
    pointer-events: none;
    color: #272866;
    font-size: 12px
}

.pp_ajax_input{
    height: 40px;
    padding-top: 10px;
    padding-left: 30px;
}

.pp_ajax_input::placeholder{
    color: #5E5E5E;
    font-size: 12px;
}

/* .pp_ajax_input_auth{
    height: 40px;
    padding-left: 30px;
}
.pp_ajax_input_auth::placeholder{
    color: #5E5E5E;
    font-size: 12px;
} */


.ajax-login-hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
}
  .ajax-login-hr-text:before {
    content: '';
    background: #dbdbdb;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .ajax-login-hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #757575;
    background-color: #ffffff;
    font-size: 16px;
  }



.ajax-signup-hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 2.5em;
}
.ajax-signup-hr-text:before {
    content: '';
    background: #272866;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .ajax-signup-hr-text:after {
      content: attr(data-content);
      position: relative;
      padding: 10px;
      line-height: 2.5em;
      color: #ffffff;
      background-color: #272866;
      border-radius: 50%;
      font-weight: bold;
  }

/* ---------------------------- */

.pp_ajax_checkbox {
  padding-left: 5px; }
  .pp_ajax_checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 0;}
    .pp_ajax_checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #333333;
      border-radius: 2px;
      background-color: #fff;
      cursor: pointer;
  }
    .pp_ajax_checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 4px;
      padding-top: -1px;
      font-size: 11px;
      color: #555555; }
  .pp_ajax_checkbox input[type="checkbox"] {
    opacity: 0; }
    .pp_ajax_checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .pp_ajax_checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }

    .pp_ajax_checkbox_primary input[type="checkbox"]:checked + label::before {
        background-color: #272866;
        border-color: #272866; }
    .pp_ajax_checkbox_primary input[type="checkbox"]:checked + label::after {
        color: #fff; }
/* ---------------------------- */

.pp_ajax_login_social{
    text-align: center!important;
    font-size: 14px!important;
}
.pp_ajax_login_social > span{
    line-height: 38px!important;
    width: 42px!important;
    font-size: 20px!important;
}
.reset_passw_label{
    margin-left: 15%;
}


/* -------------  Right to Left ------------ */

.rtl .pp_ajax_input {
    padding-right: 10%;
}
.rtl .has-feedback .form-control{
    padding-right: 10%!important;
}
.rtl #wk_reset_password{
    float: right;
}

.rtl .pp_ajax_checkbox {
    padding-left: 5px;
    white-space: nowrap; }
.rtl .pp_ajax_checkbox label::before {
      content: "";
      display: inline-block;
      position: inherit;
      width: 20px;
      height: 20px;
      left: 0;
      margin-left: 0;
      border: 1px solid #333333;
      border-radius: 2px;
      background-color: #fff;
      cursor: pointer;
      top: 4px;
    }
/* .rtl .pp_ajax_checkbox label a {
      margin-right: 29px;
    } */
.rtl .pp_ajax_checkbox label::after {
      display: inline-block;
      position: inherit;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -17px;
      padding-left: 4px;
      padding-top: -1px;
      font-size: 11px;
      color: #555555; }
.rtl  .pp_ajax_checkbox input[type="checkbox"] {
    opacity: 0;
    display: none;}
.rtl .pp_ajax_checkbox_primary input[type="checkbox"]:checked + label::after {
    color: #fff;
    top: -2px;
    right: -98%;
}
.rtl .btn-social>:first-child {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-left: 1px solid rgba(0,0,0,0.2);
}

.rtl .ajax-signup-hr-text:after {
    content: "أو";
}

.rtl .ajax-login-hr-text:after {
    content: "أو";
}

.rtl .reset_passw_label{
    margin: 0;
}
