/* .add_to_wishlist {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: #777;
}

.wishlist_disabled {
    pointer-events: none;
    cursor: default;
    color: green !important;
    text-decoration: none;
}

.wishlist_enabled {
    color: #337ab7;
} */

.add_to_wishlist,
.pp_add_to_wishlist {
    font-size: 14px;
    font-weight: bold;
}

.add_to_wishlist:hover,
.pp_add_to_wishlist:hover {
    text-decoration: none;
}

.wishlist_disabled {
    /* pointer-events: none; */
    /* cursor: default; */
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color:#272866;
}

.wishlist_enabled {
    color: #12ae8e;
}

.list_icon_primary{
    width: 12px;
    height: 17px;
    background-image: url(/website_wishlist/static/src/img/list_icon_primary.png);
    background-repeat: no-repeat;
    display: inline-table;
    vertical-align: middle;
    margin-top: -4px;
}

.list_icon_info {
    width: 12px;
    height: 17px;
    background-image: url(/website_wishlist/static/src/img/list_icon_info.png);
    background-repeat: no-repeat;
    display: inline-table;
    vertical-align: middle;
    margin-top: -4px;
}

.wl_add_btn{
    margin-top: 5px;
    width: 125px;
}

.wl_hr_top{
    border-top: 2px solid #eeeeee;
    margin: 5px 0px;
}

.wl_hr_bottom {
    border-top: none;
    border-bottom: 2px solid #eeeeee;
    margin: 5px 0px;
}

.pp_wl_grid {
    display: flex;
    flex-flow: row wrap;
}

.pp_wl_grid .pp_wl_grid_card:nth-child(odd) {
    padding-right: 32px;
}

.wl_product_img{
    max-height: 268px;
    padding: 10px;
    margin: auto;
}

.wishlist_page div.js_product{
    display: flex;
}

.wishlist_page .wl_add_btn {
    margin-top: 0px;
    margin-left: 5px;
}

.wl_box{
    display: inline-flex;
    width:100%
}

.widht50{
    width: 50%;
}

.wl_box_left{
    border-right: 1px solid #cccccc;
    display: grid;
}

@media ( max-width: 768px) {
    .wl_box{
        display: grid;
        margin-bottom: 32px !important;
    }
    .wl_box_left {
        border-right: none;
    }
    .wl_box .widht50 {
        width: 100%;
    }
    .pp_wl_grid .pp_wl_grid_card:nth-child(odd) {
        padding-right: 15px;
    }
    #porta_wl_grid {
        display: block;
        opacity: unset;
    }
    #porta_wl_grid .wl_add_btn {
        margin-top: 0px;
        margin-left: 5px;
    }
    .pp_word_wrap{
        white-space: unset;
    }
}

.nav-tabs-wl{
    display: flex;
    justify-content: center;
}

.sidebar-nav .navbar-nav .active .list_icon_info {
    background-image: url(/theme_pharmacistplace/static/src/icon/Order.png);
}

.sidebar-nav .navbar-default{
    min-height: unset;
}

#wl_view_switcher li.active>a.icon-list-view-r,
.icon-list-view-r:hover{
    background-image: url(/theme_pharmacistplace/static/src/icon/Icon-list-view-hover.png);
}

#wl_view_switcher li.active>a.icons-grid-view,
.icons-grid-view:hover {
    background-image: url(/theme_pharmacistplace/static/src/icon/Icon-grid-view-hover.png);
}

#wl_view_switcher li>a:focus,
#wl_view_switcher li>a:hover {
    background-color: unset;
}

/* RTL Support */
.rtl .wl_box_left {
    border-right: none;
    border-left: 1px solid #cccccc;
}

.rtl .wishlist_page .wl_add_btn {
    margin-left: none;
    margin-right: 5px;
}