.control-label {
    padding: 0px;
}

.hide_class {
    pointer-events: none;
    cursor: default;
}

.onepage-loader-big {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/website_single_page_checkout/static/src/img/onepage_checkout_big.GIF) center no-repeat rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 1px white;
}

.onepage-loader-small {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/website_single_page_checkout/static/src/img/onepage_checkout_small.gif) center no-repeat rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 1px white;
}

.disabled_payment_div {
    pointer-events: none;
    opacity: 0.65;
    cursor: not-allowed;
}

@media ( max-width: 768px) {
    #checkout_total{
        float: left !important;
        width: 100%;
    }
}