.offer_loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader.GIF) center no-repeat rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 1px white;
}


.bonus_icon {
    width: 20px;
    height: 20px;
    background-image: url('/website_sale_offer/static/src/img/icon-gift.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    /* vertical-align: sub; */
}

.bonus_icon_info {
    width: 19px;
    height: 19px;
    background-image: url('/website_sale_offer/static/src/img/icons-gift-blue.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.pp_discount_icon {
    width: 19px;
    height: 19px;
    background-image: url('/website_sale_offer/static/src/img/icons-offer.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin: 2px 5px 0px 5px;
}

.pp_discount_icon_primary {
    width: 19px;
    height: 19px;
    background-image: url('/website_sale_offer/static/src/img/icons-discount-green.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin: 2px 5px 0px 5px;
}

.pp_product_name{
    font-size: 12px;
}

.js_product .pp_product_name {
    font-size: inherit;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.4em !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #272866 !important;
}

.ui-slider-handle {
    border-radius: 50px !important;
}

.ui-widget-header{
    background: #12ae8e !important;
}

#pp_discount_slider, #pp_bonus_slider {
    height: 8px !important;
    background: #eeeeee !important;
}

#filter_sale_offer label,
#filter_sale_offer a {
    color:#272866 !important;
}
#filter_sale_offer a:hover,
#filter_sale_offer a:focus,
#filter_sale_offer label:hover {
    background: none !important;
    color: #272866 !important;
    cursor: pointer;
}

#filter_sale_offer a.fa-refresh{
    margin-top: 5px;
}

#filter_sale_offer a.fa-refresh:hover,
#filter_sale_offer a.fa-refresh:focus {
    text-decoration: none;
}

.product_offer_li {
    line-height: 1.3em;
    text-indent: -0.7em;
    font-weight:600;
    font-family: inherit;
    margin-bottom: 10px;
}

#filter_sale_offer>form#js_filter_discount_offer{
    padding: 0px 15px;
}