.pc_add_btn{

}

.wk_price_com_table .js_product{
    display: flex;
}

@media ( max-width: 768px) {
    .wk_price_com_table .ml4{
        margin-left: 0px !important;
        margin-top: 4px;
    }
    .wk_price_com_table .js_product {
        display: inherit;
    }
    .wk_price_com_page div.col-md-2.col-xs-6.pull-right {
        float: left !important;
    }
}